<nav class="navbar navbar-default" style="width: 100%">
  <div class="flex1">
    <div>
      <a href="#" class="styling" style="font-size: 1.8rem">Blogs Spot</a>
    </div>
    <div class="flex">
      <img src="../../assets/imgs/user.avif" alt="User icon" class="icon" />
      <p *ngIf="name.fname !== '' && name.lname !== ''" class="animation">
        {{ name.fname }} {{ name.lname }}
      </p>
      <ul class="nav navbar-nav">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/logout" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
