<div style="overflow-x: hidden; padding: 0 3rem">
  <div class="row">
    <div class="col-md-12">
      <span class="loader" *ngIf="loading"></span>
      <div class="blogs" *ngIf="blogId >= 0 && fetchedData">
        <header class="blogs_title">
          <button
            class="btn btn-primary"
            style="margin-right: 100%"
            (click)="back()"
          >
            Back
          </button>

          <h1>{{ fetchedData.title }}</h1>
          <h4>({{ fetchedData.description }})</h4>
          <h5>({{ fetchedData.created_at | date }})</h5>
          <img
            class="responsive-image"
            [src]="fetchedData.photo_url"
            [alt]="fetchedData.description"
          />
        </header>
        <div>
          <p class="blogs_text">{{ fetchedData.content_text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
