<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <form [formGroup]="form">
        <div class="form-group" *ngIf="!isLoginMode">
          <label>First Name:</label>
          <input
            formControlName="fname"
            type="text"
            placeholder="Enter your first name"
            class="form-control"
          />
        </div>
        <p
          class="help-group"
          *ngIf="!form.get('fname')?.valid && form.get('fname')?.touched"
        >
          Enter valid first name
        </p>

        <div class="form-group" *ngIf="!isLoginMode">
          <label>Last Name:</label>
          <input
            formControlName="lname"
            type="text"
            placeholder="Enter your last name"
            class="form-control"
          />
        </div>
        <p
          class="help-group"
          *ngIf="form.get('lname')?.touched && !form.get('lname')?.valid"
        >
          Enter valid last name
        </p>
        <div class="form-group">
          <label>Email:</label>
          <input
            formControlName="email"
            type="email"
            placeholder="Enter your email"
            class="form-control"
          />
        </div>
        <p
          class="help-group"
          *ngIf="form.get('email')?.touched && !form.get('email')?.valid"
        >
          Enter valid email
        </p>
        <div class="form-group password-container">
          <label>Password:</label>
          <input
            formControlName="password"
            [type]="isPasswordVisible ? 'text' : 'password'"
            placeholder="Enter your Password"
            class="form-control"
          />
          <div (click)="togglePasswordVisibility()" type="button">
            <i
              [ngClass]="
                isPasswordVisible
                  ? 'fa-solid fa-eye'
                  : '  fa-solid fa-eye-slash'
              "
            ></i>
          </div>
        </div>
        <div
          class="help-group"
          *ngIf="error"
          style="font-size: 1.2rem; color: red"
        >
          {{ error }}
        </div>
        <hr />
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit()"
          >
            {{ isLoginMode ? "Login" : "Sign Up" }}
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-success"
            (click)="onSwitchMode()"
          >
            Switch To {{ isLoginMode ? "Sign Up" : "Login" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
